.app-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
 
  .content {
    flex: 1; 
    margin-top: 5px;
    padding-top: 10px;
  }
  
  .footer {
    background-color: #333; 
    color: white; 
    text-align: center; 
    padding: 10px 0; 
  }
  