.Header {
  position: fixed;
  top: 0; 
  width: 100%;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0 1rem; 

  background-color: #2e0249;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1000; 
}

.Logo {
  height: 100px;
  margin-right: auto;
}

.Nav {
  display: flex; 
  align-items: center; 
  gap: 40px; 
}

.Nav a {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  transition: 0.5s;
  text-decoration: none;
}

.Nav a:hover {
  transform: scale(1.1);
}

.Burger {
  display: none; 
  font-size: 40px;
  border: none;
  background: none;
  outline: none;
  color: #fff; 
  transition: 0.1s;
}

.Burger:active {
  transform: scale(1.2);
}

@media (max-width: 700px) {
  .Nav {
    flex-direction: column; 
    align-items: start; 
    width: 100%; 
    padding: 20px 0;
    background: rgba(40, 44, 47, 0.95); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px; 
    position: absolute; 
    top: 70px; 
    left: 0; 
    transform: translateY(-100%); 
    transition: transform 350ms ease; 
    display: none; 
  }
  
  .Nav.show {
    display: block; 
    transform: translateY(0); 
  }
  
  .Burger {
    display: block; 
    margin-left: auto; 
  }

}

