.map-page {
    display: flex;
    flex-direction: row;
    height: 100vh;
    margin-top: 100px;
}

.map {
    flex: 1;
    height: 100%;
}

.recipe-list {
    width: 30%; 
    overflow-y: auto;
    background-color: white;
    padding: 10px;
    border-left: 1px solid #ccc;
}

.recipe-list h2 {
    text-align: center;
    color: purple;
}

.recipe-list ul {
    list-style-type: none;
    padding: 0;
}

.recipe-list li {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.recipe-list li h3 {
    margin: 0;
    color: purple;
}
